.table {
    border-collapse: collapse;
    width: 600px;
    margin: 20px auto;
}

.head {
    text-align: center;
}

.tr {
    border: 1px solid black;
}

.th {
    background-color: darkslategrey;
    color: white;
    outline: none;
    border: 1px solid black;
}

.td {
    text-align: center;
    border: 1px solid black;
}

.type {
    text-align: unset;
    padding-left: 12.5%;
}

.grey {
    background-color: lightgrey;
}